image == 1.5.3
#astropy == 1.1.2
#bigfloat == 0.3.0
chardet == 2.3.0
Cython == 0.24
deap == 1.0.2.post2
glob2 == 0.4.1
husl == 4.0.3
LiveWires == 2.1
matplotlib == 1.5.1
networkx == 1.11
#numpy == 1.11.1rc1
pandas == 0.17.1
plotly == 1.11.0
prettytable == 0.7.2
pydot2 == 1.0.33
pygal == 2.2.2
matplotlib == 1.5.1
#pymc == 2.3.6
Cython == 0.24
requests == 2.10.0
#scipy == 0.17.1
seaborn == 0.7.0
sympy == 1.0
vpython == 0.3.11
CoolProp == 6.0.0
#pycrypto == 2.6.1
ipython == 4.2.0
Pillow == 3.2.0
#PyQt4 == 4.11.4
beautifulsoup4 == 4.4.1
#fitz == 0.0.1.dev0
#gmpy == 1.17
#gmpy2 == 2.0.7
gp == 1.0
#moss == 0.4.2
nltk == 3.2.1
#numba == 0.26.0
orbit == 0.2
poliastro == 0.5.0
#psyco == 1.6
#pydot == 1.1.0
#pygame == 1.8.1
pylab == 0.1.3
scoop == 0.7.1.1
#scikit_learn == 0.17.1
unittest2 == 1.1.0
utils == 0.9.0
